*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Barlow Condensed", sans-serif;
  padding: 3rem;
  position: relative;
  overflow-x: hidden; }

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav__logo {
  display: block;
  height: 2.38rem;
  width: auto; }

.nav__list {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(70%);
  width: 80%;
  text-align: center;
  list-style: none;
  padding: 2.2rem;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: transform .4s ease-in; }

.nav__list.nav-toggle {
  transform: translateX(-50%); }

.nav__item {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .nav__item:not(:last-child) {
    margin-bottom: 1.8rem; }

.nav hr {
  margin-bottom: 1.8rem; }

.nav__item--login a {
  color: #a0a1ac; }

.nav__link {
  text-decoration: none;
  color: #242942; }

.nav__hamburger {
  display: inline-block;
  cursor: pointer;
  padding: 8px 0; }

.nav__ham-bar {
  height: 2px;
  width: 24px;
  background-color: #242942;
  position: relative;
  transition: .5s ease all; }

.nav__ham-bar::before, .nav__ham-bar::after {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  width: 24px;
  background-color: #242942;
  transition: .4s ease all; }

.nav__ham-bar::before {
  top: -7px; }

.nav__ham-bar::after {
  bottom: -7px; }

.nav__hamburger:hover .nav__ham-bar::before {
  top: -8px; }

.nav__hamburger:hover .nav__ham-bar::after {
  bottom: -8px; }

.nav__hamburger.close .nav__ham-bar {
  background-color: transparent; }

.nav__hamburger.close .nav__ham-bar::before {
  top: 0;
  transform: rotate(45deg); }

.nav__hamburger.close .nav__ham-bar::after {
  top: 0;
  transform: rotate(-45deg); }

.illustration {
  display: block;
  width: 480px; }
