// COLOR VARIABLES
$color-salmon: hsl(0, 100%, 68%);
$color-blue-dark: hsl(230, 29%, 20%);
$color-gray-dark: hsl(230, 11%, 40%);
$color-gray: hsl(231, 7%, 65%);
$color-gray-light: hsl(207, 33%, 95%);
$color-white: hsl(0, 0%, 100%);

// FONT VARIABLES
$font-family-primary: 'Barlow Condensed', sans-serif;
$font-family-body: 'Barlow', sans-serif;

// GLOBAL
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: $font-family-primary;
    text-transform: uppercase;
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: '';
    width: 50vw;
    height: 427px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-gray-light;
    border-radius: 0 0 0 60px;
    z-index: -1;

    @media only screen and (min-width: 768px) {
        width: 49vw;
    }
}

.container {
    padding: 3.8rem 3.2rem;
    max-width: 1230px;
    margin: auto;

    @media only screen and (min-width: 768px) {
        padding: 5rem 6rem;
    }

    @media only screen and (min-width: 1230px) {
        padding: 6.5rem 6rem;
    }
}

.nav {
    margin-bottom: 6rem;

    @media only screen and (min-width: 1024px) {
        margin-bottom: 11.4rem;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: block;
        height: 2.38rem;
        width: auto;

        @media only screen and (min-width: 768px) {
            height: 3.176rem;
        }
    }

    &__list {
        position: absolute;
        top: 100px;
        right: 50%;
        transform: translateX(160%);
        width: 84%;
        text-align: center;
        list-style: none;
        padding: 2.4rem;
        background-color: $color-white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        z-index: 1;
        transition: transform .4s ease-in;

        @media only screen and (min-width: 768px) {
            position: initial;
            display: flex;
            background-color: transparent;
            box-shadow: none;
            transform: translateX(0%);
            width: auto;
            padding: 0;
        }
    }

    // Visible navigation
    &__list.nav-toggle {
        transform: translateX(50%);
    }

    &__item {
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 1px;
        position: relative;

        @media only screen and (min-width: 768px) {
            font-size: 1.5rem;
        }

        &:not(:last-child) {
            margin-bottom: 2.5rem;

            @media only screen and (min-width: 768px) {
                margin-bottom: 0;
                margin-right: 4.2rem;
                display: flex;
                align-items: center;
            }
        }
    }

    &__dot {
        @media only screen and (min-width: 768px) {
            display: block;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background-color: hsla(235, 7%, 65%, 0.35);
        }
    }

    hr {
        margin-bottom: 1.8rem;

        @media only screen and (min-width: 768px) {
            display: none;
        }
    }

    &__item--login {
        position: relative;
         
        a {
            color: $color-gray;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-blue-dark;
    }

    @media only screen and (min-width: 768px) {
        &__link::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: $color-salmon;
            position: absolute;
            bottom: -2px;
            left: 0;
            transform: scaleX(0);
            transition: transform .3s;
        }
    
        &__link:hover::after {
            transform: scaleX(1);
        }
    }

    // Hamburger styles
    &__hamburger {
        display: inline-block;
        cursor: pointer;
        padding: 8px 0;

        @media only screen and (min-width: 768px) {
            display: none;
        }
    }

    &__ham-bar {
        height: 2px;
        width: 24px;
        background-color: $color-blue-dark;
        position: relative;
        transition: .5s ease all;
    }

    &__ham-bar::before,
    &__ham-bar::after {
        content: '';
        position: absolute;
	    left: 0;
        height: 2px;
        width: 24px;
        background-color: $color-blue-dark;
        transition: .4s ease all;
    }

    &__ham-bar::before {
        top: -7px;
    }

    &__ham-bar::after {
        bottom: -7px;
    }
    
    // Styles for when hamburger is clicked and turns to X
    &__hamburger.close {
        .nav__ham-bar {
            background-color: transparent;
        }

        .nav__ham-bar::before {
            top: 0;
	        transform: rotate(45deg);
        }

        .nav__ham-bar::after {
            top: 0;
	        transform: rotate(-45deg);
        }
    }
}

main {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1024px) {
        flex-direction: row-reverse;
        align-items: center;
    }
}

.illustration {
    display: block;
    width: 162%;
    max-width: 585px;
    transform: translateX(-24px);
    margin-bottom: 8.7rem;

    @media only screen and (min-width: 620px) {
        margin: 0 auto 8.7rem auto;
        transform: translateX(0);
    }

    @media only screen and (min-width: 1024px) {
        margin: 0 -29% 0 0;
        width: 76%;
        max-width: 960px;
        flex: 1;
    }

    @media only screen and (min-width: 1230px) {
        transform: translateX(110px);
        width: 100%;
    }
}

.content {
    @media only screen and (min-width: 768px) {
        max-width: 550px;
    }

    @media only screen and (min-width: 1024px) {
        flex: 1;
    }

    &__heading-secondary {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 5px;
        color: $color-gray;
        margin-bottom: 1.6rem;
        display: flex;
        align-items: center;

        span {
            display: inline-block;
            width: 48px;
            height: 25px;
            font-weight: 700;
            letter-spacing: 1px;
            background-color: $color-blue-dark;
            color: $color-white;
            border-radius: 50px;
            margin-right: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__heading-primary {
        font-size: 4rem;
        line-height: 1;
        color: $color-blue-dark;
        margin-bottom: 1.7rem;

        @media only screen and (min-width: 768px) {
            font-size: 6.4rem;
        }

        @media only screen and (min-width: 1024px) {
            margin-bottom: 3rem;
        }
    }

    &__description {
        max-width: 280px;
        text-transform: none;
        font-size: 1.8rem;
        line-height: 1.44;
        font-family: $font-family-body;
        color: $color-gray-dark;
        margin-bottom: 3rem;

        @media only screen and (min-width: 1024px) {
            margin-bottom: 6.5rem;
        }
    }

    &__cta {
        display: flex;
        align-items: center;
    }

    &__btn {
        font-size: 1.4rem;
        font-weight: 700;
        font-family: $font-family-primary;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-white;
        background-color: $color-salmon;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 1rem 2.5rem;
        border-radius: 6px;
        margin-right: 1.8rem;
        transition: background-color .3s ease;

        @media only screen and (min-width: 768px) {
            padding: 1.5rem 3.2rem;
            font-size: 1.6rem;
            margin-right: 2.5rem;
        }
    }

    &__btn:hover {
        background-color: hsla(0, 100%, 68%, 0.75);
    }

    &__cta-text {
        font-size: 1.4rem;
        letter-spacing: 2.5px;
        color: $color-gray;

        @media only screen and (min-width: 768px) {
            font-size: 1.5rem;
            letter-spacing: 5px;
        }
    }
}

// ATTRIBUTION
.attribution {
    color: $color-blue-dark;
    font-size: 11px;
    font-family: $font-family-body;
    line-height: 1.6rem;
    text-align: center;
    text-transform: none;
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;

    a {
        color: $color-salmon;
        text-decoration: none;
        position: relative;
    }

    a::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $color-salmon;
        position: absolute;
        bottom: -2px;
        left: 0;
        transform: scaleX(0);
        transition: transform .3s;
    }

    a:hover::after {
        transform: scaleX(1);
    }
}